@page

@model Budget_tracker.Model.MyTableModel
@{
    ViewData["Title"] = "MyTable";
}

<h2>MyTable</h2>
<table class="table">
    <thead>
    <tr>
        <th>Category</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Университет</td>
        <td>$100</td>
        <td>$150</td>
        <td>$120</td>
        <td>$80</td>
        <td>$90</td>
        <td>$540</td>
    </tr>
    <tr>
        <td>Електроника</td>
        <td>$50</td>
        <td>$60</td>
        <td>$55</td>
        <td>$70</td>
        <td>$65</td>
        <td>$300</td>
    </tr>
    <tr>
        <td>Ремонти</td>
        <td>$75</td>
        <td>$80</td>
        <td>$70</td>
        <td>$85</td>
        <td>$90</td>
        <td>$400</td>
    </tr>
    <tr>
        <td>Kartofi</td>
        <td>$40</td>
        <td>$50</td>
        <td>$45</td>
        <td>$55</td>
        <td>$60</td>
        <td>$250</td>
    </tr>
    <tr>
        <td>Avtomobil</td>
        <td>$30</td>
        <td>$35</td>
        <td>$25</td>
        <td>$45</td>
        <td>$40</td>
        <td>$175</td>
    </tr>
    </tbody>
</table>
